@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid theme("colors.primary.900");
    border-right-color: theme("colors.primary.200");
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid theme("colors.primary.200");
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* For data picker */
.rdp {
  --rdp-cell-size: 30px !important;
  --rdp-accent-color: theme("colors.accent.500") !important;
  --rdp-background-color: theme("colors.accent.600") !important;
  --rdp-accent-color-hover: theme("colors.accent.700") !important;
  --rdp-accent-color-active: theme("colors.accent.800") !important;
  --rdp-accent-color-selected: theme("colors.accent.900") !important;
  --rdp-accent-color-selected-hover: theme("colors.accent.800") !important;
  --rdp-accent-color-selected-active: theme("colors.accent.700") !important;
  --rdp-accent-color-selected-hover-text: theme("colors.accent.100") !important;
  --rdp-accent-color-selected-text: theme("colors.accent.100") !important;
  --rdp-accent-color-text: theme("colors.accent.100") !important;
  --rdp-accent-color-hover-text: theme("colors.accent.100") !important;
  --rdp-accent-color-active-text: theme("colors.accent.100") !important;
  margin: 0 !important;
}
/* 
@keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  } */
